table {
  border-collapse: collapse;
  width: 400px;
  text-align: center;
    }

table thead {
    background-color: #ffe4b5;
    }

.selected {
    background-color: #ffffe0;
    }

.form-field-help{
    color: grey;
}